<html>

<head>
    <title>Discussion Board</title>
    <script src="/javascript/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- stylesheets -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>

<body id="homepage">
    <h1>DISCUSSION BOARD</h1>
    <h4>Flying solo? Open an incognito tab to simulate the chat environment.</h4><br>
    <a href="/start"><button id="start">JOIN GROUP CHAT</button></a>
</body>

</html>
