<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat Room</title>
        <meta charset="UTF-8">
        <link rel="icon" href="/assets/speech.png" type="image/x-icon">
        <!-- stylesheets -->
        <link href="/css/normalize.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>

    <body id="homepage">
        <h1>CHAT ROOM</h1>
        <h4>Join a live chat room with friends!</h4>
        <h4>Flying solo? Open an incognito tab to simulate the chat environment.</h4><br>
        <a href="/start"><button id="start">JOIN GROUP CHAT</button></a>
        <!-- js files -->
        <script async src="/javascript/jquery.min.js"></script>
        <script async src="/socket.io/socket.io.js"></script>
    </body>
</html>
