<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat Room</title>
    <link rel="icon" href="/assets/speech.png" type="image/x-icon">
    <script src="/javascript/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/index.js"></script>

    <!-- stylesheets -->
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>

<body>
    <!-- Begin Header -->
    <div id="header">
        <h1>CHAT ROOM</h1>
        <h3><a id="logout" href="/home">LOGOUT</a></h3>
    </div>
    <!-- End header -->

    <!-- Begin The Room -->
    <div id="wrapper">
        <div id="message_board">
            <div class="chatheader">
                <h4>THE ROOM</h4></div>
        </div>
    <!-- End the Room -->
    <!-- Begin text box -->
        <div id="textbox">
            <form id="new_message">
                <div class="chatheader">
                    <h4>WHAT'S ON YOUR MIND?</h4></div>
                <textarea id="message" placeholder="enter your message here"></textarea><br>
                <input id="submit" type="submit" value="SEND">
            </form>
        </div>
    <!-- End Text Box -->
    </div>
</body>
</html>
