/*STYLESHEET FOR GROUPCHAT*/
/*Used normalize.css to CSS reseet */
/* all elements*/
*{
  margin:0px;
  padding:0px;
  font-family: 'Open Sans', sans-serif;
}
body{
    background-color: whitesmoke;
}

/*header*/
#header{
  background:rgb(255,88,86);
  color:white;
  box-shadow: 0 0 20px darkgray;
  height:100px;
}
#header h1{
  margin-left:5%;
  padding-left:2%;
  font-size: 2.5em;
  display:inline-block;
  width:40%;
}
#header h3{
  float:right;
  display:inline-block;
  padding:2.5%;
  margin-right:5%;
}

a{
  text-decoration: none;
  color:white;
}

/*message board section*/
#wrapper{
  padding-top:5%;
  color:black;
  margin:0px auto;
  width:90%;
  margin-bottom:10%;
}
#name{
  color:rgb(255,88,86);
}
#message_board{
  border:solid 1px silver;
  width:50%;
  height: 450px;
  overflow:scroll;
  color:black;
  background-color: white;
  display: inline-block;
  webkit-box-shadow: 0 0 30px darkgray;
  box-shadow: 0px 0px 30px darkgray;
}
  .chatheader{
    width:100%;
    height:50px;
    background:rgb(255,88,86);
    color:white;
    display:inline-block;
    vertical-align: top;
  }
  .chatheader h4{
    padding:3%;
    display:inline-block;
  }

#textbox{
  display:inline-block;
  width:49%;
  vertical-align: top;
}
#submit{
  float:right;
  font-size:1em;
  padding:20px 60px;
  margin-top:2%;
  border:none;
  border-radius: 5px;
  background: rgb(255,88,86);
  color:white;
  box-shadow: 0 0 20px darkgray;
}
#new_message{
  width:100%;
  webkit-box-shadow: 0 0 30px darkgray;
  box-shadow: 0px 0px 30px darkgray;
}
textarea{
  resize:none;
  display:inline-block;
  width:95.8%;
  height:375px;
  padding:2%;
  font-size:1em;
}
p{
  padding:2%;
}
span.user{
  font-weight:bolder;
  color:rgb(255,88,86);
}

span.guest{
  font-weight:bolder;
  color:cadetblue;
}

/*homepage*/
#homepage{
  background:black;
  color:white;
  text-align: center;
  background-image: url("/assets/chatroom.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
#homepage h1{
  font-size:4em;
  text-align: center;
  margin-top:15%;
}
#navbar{
    top:0px;
    background-color: black;
    height:8%;
}
h4{
  text-align: center;
}
#start{
  padding: 2%;
  width:20%;
  color: rgb(255,88,86);
  border: solid 2px white;
  background: white;
  border-radius: 10px;
  font-size: 1em;
}
#start:hover{
  background:rgba(255,88,86,0.8);
  color:white;
}
    .event{
      color:silver;
      font-style:italic;
    }
